@(form: Form[_])(implicit messages: Messages)


<!DOCTYPE html>
@field(f: String) = {
  <div class="field">
    <label>@messages(f)</label>

  </div>

  @*<div class="field">
    <label>@messages</label>
    <input type="text" name="@f" placeholder="form.data['@f']">
  </div>*@

}

<html>
  <head>
    <title></title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/Semantic-UI/semantic.css")"/>
  </head>

<body>

  <div id="app">

    <router-view></router-view>

    <template id="temp">
      <div class="ui grid">

        @*왼쪽 폼 크기: 4 *@
        <div class="four wide column">
        @*<div id="home"><a href="@routes.Home.home">home</a></div>

          <div id="add"><a href="#">추가하기</a></div>

          <div> <button v-on:click="clist">목록보기</button> </div>*@



            @*<div class="item" v-for="item in data">
              {{ item.currencyCode }}
            </div>*@

            <div class="ui relaxed divided list">
              <div class="item" v-for="item in data.cyList">
                <i class="large github middle aligned icon"></i>
                <div class="content">
                  <a class="header"> <button v-on:click="cCodes(item.currencyCode)"> {{ item.currencyCode }} </button></a>
                  <div class="description">{{ item.currencyName }} {{ item.currencyNameEn }} {{ item.currencySymbol }}</div>
                </div>
              </div>
            </div>

        </div>

        @*오른쪽 폼 크기: 12*@
        <div class="twelve wide column">

          <form name="jacks" v-el:c-form class="ui form" >

            @field("currency_code")
            @defining("data.one.currencyCode") { f =>
              <input v-model="@f" type="text" value="{{ @f }}" name="currency_code"/>
            }
            @field("currency_name")
            @defining("data.one.currencyName") { f =>
              <input v-model="@f" type="text" value="{{ @f }}" name="currency_name"/>
            }
            @field("currency_name_en")
            @defining("data.one.currencyNameEn") { f =>
              <input v-model="@f" type="text" value="{{ @f }}" name="currency_name_en"/>
            }
            @field("currency_symbol")
            @defining("data.one.currencySymbol") { f =>
              <input v-model="@f" type="text" value="{{ @f }}" name="currency_symbol"/>
            }
            @field("is_active")
            @defining("data.one.isActive") { f =>
              <input v-model="@f" type="text" value="{{ @f }}" name="is_active"/>
            }

              <div class="ui button" v-on:click="subcCode(data.one.currencyCode)">Submit</div>

          </form>

      </div>
    </template>
  </div>

  <script src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
  <script src="@routes.Assets.at("lib/Semantic-UI/semantic.js")"></script>
  <script src="@routes.Assets.at("lib/vue/vue.js")"></script>
  <script src="@routes.Assets.at("lib/vue-router/dist/vue-router.js")"></script>
  <script src="@routes.Assets.at("lib/vue-resource/vue-resource.js")"></script>

  <script>
  var router = new VueRouter();




  /*var Vue = require('vue');
  Vue.use(require('vue-resource'));*/

    router.map({
      '/' : {
        component: {
          template: '#temp',
          data() { return { data: { cyList:{}, one:{} } } },
          methods: {

          // 데이터 입력폼의 텍스트에 값 넣기
            cCodes(currencyCode) {
              console.log("클릭좀 되라");
              console.log(currencyCode);
              /*return alert(currencyCode);*/
              console.log(this)


              return this.$http.get('/currency/Edit/'+currencyCode).then((response) => {
                console.log("성공햇을까");
                console.log(response.data);
                console.log("성공하셧습니다")

                this.$set("data.one", response.data)

              }, (response) => {
                console.log("클릭 후 데이터 추출 실패")
              });
            },

            // 데이터 수정하기
            subcCode(currencyCode) {
             /* console.log("업데이트할 데이터의 키 받아오기")
              console.log(currencyCode);

              console.log("서브밋 클릭 성공");
              console.log(this);
              console.log(this.data.one)
              // 스트링
              var formString = $('form').serialize();

              // 객체
              var formObject = $('form').serializeArray();
              //console.log(formObject);*/

              //serializeObject 만드는 serializeObject()함수정의
              $.fn.serializeObject = function()
              {
                 var o = {};
                 var a = this.serializeArray();
                 $.each(a, function() {
                     if (o[this.name]) {
                         if (!o[this.name].push) {
                             o[this.name] = [o[this.name]];
                         }
                         o[this.name].push(this.value || '');
                     } else {
                         o[this.name] = this.value || '';
                     }
                 });
                 return o;
              };
              //form -> 객체형태로 만들기
              var formObjType = $('form').serializeObject();
              console.log(formObjType);
              console.log("위에 꺼 form -> 객체형식으로 만든거임(serializeObject())")

              // update 하기
              this.$http.post('/currency/Edit', formObjType).then((response) => {
                console.log("post 성공!")




              }, (response) => {
                console.log("post 실패!")
                console.log(response.status)
                console.log(response.statusText);
              });
            }
          },

          ready() {
            return this.$http.get('/currency').then((response) => {  //여기 return도 필요없는듯
              console.log("성공");
              /*console.log(response.data);*/
              this.$set("data.cyList", response.data)
              /*return response.data*/
            }, (response) => {
              console.log("실패");
            });
          }
        }
      }


    });

    router.start({}, '#app')




  </script>
</body>


</html>
